## Rider ##
.idea/
*.sln.iml

## Visual Studio Code ##
.vscode/
*.code-workspace

## Visual Studio ##
.vs/
bin/
obj/
*.user
*.suo

## Entity Framework ##
Migrations/

## SQLite ##
*.db
*.db-shm
*.db-wal

## OS ##
.DS_Store
Thumbs.db
